<div class="row justify-content-md-center space_content" style="min-height:600px">
    <div class="col col-sm-10 text-justify">
        <h2 class="text-center">Sobre nós</h2>
        <p class="text_about">
            Doe, salve surgiu a partir de uma proposta iniciada no ano de 2020, através de um projeto interdisciplinar elaborado na Sociedade Educacional Três de Maio - SETREM, através dos alunos Bruno Auth, Felipe Reckziegel, Ismael Gerhardt Lermen e Natan Alexandre Zacharko Werkauser que idealizaram o desenvolvimento de uma solução com perspectivas possíveis para implementação de uma aplicação (Web e Android/iOS) interligada a um banco de dados, objetivando elevar o número de doações espontâneas de sangue, através de um conjunto de soluções tecnológicas que se complementam, gerando praticidade, eficiência e informação para os doadores e hemocentros em ambientes automatizados.
        </p>
    </div>
</div>
