@model IEnumerable<DAL.Scheduling>

@{
    List<DAL.Scheduling> schedulings = ViewBag.Schedules;
    List<DAL.BloodCenter> bloodCenters = ViewBag.BloodCenters;
}
<style>
    th, td {
        padding: 15px;
        text-align: left;
        border: 1px solid #222
    }

    .slogan {
        font-size: 2.65rem;
    }

    .initialGrid p {
        margin: 4px 0;
        font-family: 'Times New Roman', Times, serif
    }

    .icongreen {
        margin-right: 4px;
        color: #4cff00
    }

    .specialAccordion .card .card-header {
        padding: .6rem 1.5rem;
        text-align: left
    }

    .img_bg {
        margin: 0;
        background-image: url(bghands.jpg);
        background-attachment: fixed;
        background-repeat: no-repeat;
        min-height: 400px;
    }
    /*
    .list_schedules {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%)
    }*/


</style>
<header>
</header>
<div>
    <div class="row">
        <div class="col-sm-12 col-md-6" style="display: flex; align-items: center">
            <div style="flex: 1;">
                <p class="slogan">Salve vidas de modo prático e seguro, faça seu agendamento para doação de sangue</p>
            </div>
        </div>
        <div class="col-sm-12 col-md-6" style="position:relative">
            <img src="/img/2707780.jpg" style="width:95%" alt="Give Blood img" />
        </div>
    </div>
    <div class="row">
        <div class="d-flex align-items-center col-sm-6 col-md-4">
            <h5>Agende com o hemocentro mais próximo de você, a qualquer momento</h5>
        </div>
        <div class="col-sm-6 col-md-4 initialGrid">
            <span><b>Rápido formulário</b></span>
            <p>- Nome</p>
            <p>- Email</p>
            <p>- Hemocentro</p>
            <p>- Terça: 9am-10am</p>
        </div>
        <div class="col-sm-6 col-md-4">
            <p><b>Benefícios</b></p>
            <p><i class="fas fa-check-circle icongreen"></i> Praticidade</p>
            <p> <i class="fas fa-check-circle icongreen"></i> Evite filas</p>
            <p><i class="fas fa-check-circle icongreen"></i> Suporte rápido</p>

        </div>        
    </div>

    <div>
        <h3 style="margin: 70px 0 ">Perceba como está ao seu alcance: </h3>
    </div>


    <div class="row align-items-center how-it-works d-flex">
        <div class="col-2 text-center bottom d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">1</div>
        </div>
        <div class="col-6">
            <h5>Agendamento da doação</h5>
            <p>O agendamento da doação de sangue ocorre através do site Doe, Salve ou também entrando em contato direto com o hemocentro de sua preferência!</p>
        </div>
    </div>
    <!--path between 1-2-->
    <div class="row timeline">
        <div class="col-2">
            <div class="corner top-right"></div>
        </div>
        <div class="col-8">
            <hr />
        </div>
        <div class="col-2">
            <div class="corner left-bottom"></div>
        </div>
    </div>
    <!--second section-->
    <div class="row align-items-center justify-content-end how-it-works d-flex">
        <div class="col-6 text-right">
            <h5>Pré-triagem</h5>
            <p>Esse é o momento em que é conferido os sinais vitais do doador, ou seja, um profissional vai verificar a pressão arterial, a temperatura corporal, pulso e peso do doador.</p>
        </div>
        <div class="col-2 text-center full d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">2</div>
        </div>
    </div>
    <!--path between 2-3-->
    <div class="row timeline">
        <div class="col-2">
            <div class="corner right-bottom"></div>
        </div>
        <div class="col-8">
            <hr />
        </div>
        <div class="col-2">
            <div class="corner top-left"></div>
        </div>
    </div>
    <!--third section-->
    <div class="row align-items-center how-it-works d-flex">
        <div class="col-2 text-center top d-inline-flex justify-content-center align-items-center">
            <div class="circle font-weight-bold">3</div>
        </div>
        <div class="col-6">
            <h5>Doação</h5>
            <p>
                A doação de sangue ocorre através de hemocentros que contam com equipes especializadas para que esse processo seja efetuado precisamente. Referente ao volume de sangue, geralmente podem ser coletados entre 420ml e 470 ml de sangue, além de 25ml a 30ml para os exames laboratoriais.
            </p>
        </div>
    </div>

    <div style="margin: 50px 0;">
        <div class="text-center"><h4 id="accordionExample">FAQ - Dúvidas frequentes</h4></div>
        <div class="row justify-content-md-center">
            <div class="col col-sm-10 col-md-8">
                <div class="accordion specialAccordion" style="scroll-behavior:smooth">
                    <div class="card">
                        <div class="card-header btn btn-light" type="button" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="headingOne">
                            <p class="mb-0">Quais são os requisitos para realizar a doação de sangue?</p>
                        </div>

                        <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
                            <div class="card-body">
                                É preciso que a pessoa esteja em boas condições de saúde, que a idade seja entre 16 e 69 anos, sendo que os candidatos a doadores com menos de 18 anos deverão estar acompanhados pelos pais ou por responsável legal. Também o doador deve pesar no mínimo 50 Kg, é importante que o doador não esteja em jejum, bem como, evite alimentação gordurosa. Além disso, é importante que tenha dormido pelo menos 6 horas antes da doação e que não tenha ingerido bebidas alcoólicas nas 12 horas anteriores à doação. O doador deve apresentar documento oficial de identidade com foto na doação de sangue.
                            </div>
                        </div>
                    </div>
                    <div class="card">

                        <div class="card-header  btn btn-light" type="button" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo" id="headingTwo">
                            <div>
                                <p class="mb-0">
                                    Qual a finalidade do sangue doado?
                                </p>
                            </div>
                        </div>

                        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                            <div class="card-body">
                                São realizadas transfusões de sangue, que geralmente beneficia vítimas de acidentes, que necessitam de cirurgias ou outras situações clínicas. Uma doação pode salvar até três vidas.
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree" id="headingThree">
                            <p class="mb-0">
                                Qual o tempo médio de duração da doação de sangue?
                            </p>
                        </div>
                        <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                            <div class="card-body">
                                O procedimento dura em média 40 minutos onde é efetuado o cadastro, verificação de sinais vitais, teste de anemia, triagem clínica, coleta do sangue e é disponibilizado um lanche ao doador.

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour" id="headingFour">
                            <p class="mb-0">Quais são os impedimentos temporários?</p>
                        </div>
                        <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                            <div class="card-body">
                                Estar com gripe ou febre, gestantes ou mães que estão amamentando bebês com menos de 12 meses. Mulheres que tiveram cesariana (180 dias), com  parto normal (90 dias)  e aborto (90 dias). Pessoas que realizaram tatuagem ou acupuntura nos últimos 12 meses, também, pessoas que estiveram expostas à situação de risco para a AIDS (múltiplos parceiros sexuais, ter parceiros usuários de drogas) e Herpes labial podem impedir temporariamente a doação de sangue. Outros critérios impeditivos da doação serão verificados por ocasião da entrevista de triagem.

                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="card-header btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive" id="headingFive">
                            <p class="mb-0">Quais os impedimentos definitivos? </p>
                        </div>
                        <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                            <div class="card-body">
                                Portador de doença de Chagas, ter contraído a Hepatite após os  11 anos de idade, ser portador dos vírus HIV (AIDS), HCV (Hepatite C), HBC (Hepatite B), HTLV ou o uso de drogas injetáveis. Além desses critérios, alguns outros critérios impeditivos da doação serão verificados por ocasião da entrevista de triagem.

                            </div>
                        </div>
                    </div>

                    <div class="card">
                        <div class="card-header btn btn-light collapsed" type="button" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix" id="headingSix">
                            <p class="mb-0">
                                Qual a importância da doação de sangue?
                            </p>
                        </div>
                        <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordionExample">
                            <div class="card-body">
                                A doação de sangue é vital na medida em que os componentes sanguíneos (hemácias, de plaquetas e plasma) ficam disponíveis para pacientes que necessitam de transfusão, o sangue não possui substituto e por isso a doação é imprescindível considerando que uma doação pode salvar inúmeras vidas. Toda pessoa que está em boas condições de saúde pode realizar essa ação sem qualquer risco ou prejuízo à saúde. Um doador pode beneficiar até três pessoas.

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="margin-top: .5rem;text-align:center"><a class="btn btn-info" href="#">Para mais detalhes, clique aqui.</a></div>
    </div>
</div>
@*<div class="img_bottom" style="background-image: url(https://startbootstrap.github.io/startbootstrap-clean-blog-jekyll/img/bg-index.jpg)">
        <div class="overlay_img"></div>
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-md-10 mx-auto">
                    <div class="page-heading">
                        <h1>Clean Blog</h1>
                        <span class="subheading">A Blog Theme by Start Bootstrap</span>
                    </div>
                </div>
            </div>
        </div>
    </div>*@
