@model DAL.Scheduling
@{
    List<DAL.BloodCenter> bloodCenters = ViewBag.BloodCenters;
    //List<DAL.Donor> donors = ViewBag.Donors;
}

<div class="space_content position-relative">
    <h2 class="text-center">Novo Agendamento</h2>
    <br />
    <form method="post" enctype="multipart/form-data">

        <div class="form-row">

            <div class="form-group col-sm-12">
                <label for="name">Nome</label>
                <input type="text" autocomplete="off" class="form-control" name="name">
            </div>
            <div class="form-group col-md-6">
                <label for="bloodcenter">Hemocentro</label>
                <select class="form-control" name="id_bc">
                    <option value="-" selected disabled for> Selecione</option>

                    @foreach (DAL.BloodCenter bloodCenter in bloodCenters)
                    {
                        <option value="@bloodCenter.id_bc" for> @bloodCenter.name_bc</option>
                    }
                </select>
            </div>
            <div class="form-group col-md-3">
                <label for="date">Data e hora da doação</label>
                <input type="datetime-local" class="form-control" date name="date">
            </div>
            <div class="form-group col-md-3">
            </div>

            <div class="form-group col-md-2">
                <label for="phone">Fone</label>
                <input type="text" autocomplete="off" class="form-control" name="phone">
            </div>
            <div class="form-group col-md-4">
                <label for="email">E-mail</label>
                <input type="email" autocomplete="off" class="form-control" name="email">
            </div>
            <div class="form-group col-md-6 d-flex align-items-center" style="margin: 0">
                <span><i class="fas fa-info-circle" style="padding:0 20px; font-size: 1.6rem"></i></span><h6>Os dados email e fone serão utilizados para contatos de confirmação do agendamento ou aviso prévio </h6>
            </div>

            @*<div class="form-group col-md-4">
                    <label for="bloodcenter">Selecione o doador</label>
                    <select class="form-control" name="id_donor">
                        @foreach (DAL.Donor donor in donors)
                        {
                            <option value="@donor.id" for> @donor.name</option>
                        }
                    </select>
                </div>*@

        </div>
        <div class="col-sm-12 text-center">
            <button type="submit" class=" btn btn-success">Finalizar agendamento</button>
        </div>
        <div class="col-sm-4"></div>

    </form>

    @*<script>
        $('.datepicker').datepicker({
            startDate: new Date()

        });
    </script>*@

</div>
