<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>
        @*@ViewData - giveBloodNewApp*@
        Doe Salve App
    </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    @*<link rel="stylesheet" href="~/lib/fontawesome/css/all.min.css" />*@
    <script src="https://kit.fontawesome.com/0aca0b7c28.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="~/css/site.css" />

    <style>
        html {
            scroll-behavior: smooth
        }

        .giveButtonLi {
            position: absolute;
            right: 0;
            margin-right: 10%;
            background: #e41c38;
            padding: 2px 5px;
            border-radius: 10px;
        }

            .giveButtonLi:hover {
                background: #FF1744
            }

        .giveButton {
            color: #fff !important;
            font-weight: 600;
        }

            .giveButton:hover {
                color: #fff !important;
                font-weight: 600;
            }

        .example {
            z-index: 100;
            position: fixed;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            background: white;
        }

        .btnSchedule {
            z-index: 9999;
            position: fixed;
            left: 71%;
            background: white;
        }

        .img_bottom {
            /*margin-bottom: 50px;*/
            background: no-repeat center center;
            background-color: #6c757d;
            background-attachment: scroll;
            position: relative;
            background-size: cover;
            height: 500px;
            display: flex;
            align-items: center;
            color: #fff;
        }

        .overlay_img {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            width: 100%;
            background-color: #212529;
            opacity: 0.5;
        }

        .bg_head:hover {
            background-color: #eeeeee61;
        }
    </style>
</head>

<body style="margin-bottom: 0">
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Schedule" asp-action="Index"><img src="/img/icon2.png" width="125" alt="Projeto Doe Sangue" /></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1 position-relative">
                        <li class="nav-item">
                            <a class="nav-link text-dark bg_head" asp-area="" asp-controller="Schedule" asp-action="Contacts">Contato</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark bg_head" href="#accordionExample" style="transition: .4s">Dúvidas frequentes</a>
                        </li>
                        @*<li class="nav-item">
                                <a class="nav-link text-dark" asp-area="" asp-controller="Schedule" asp-action="Privacy">Dúvidas frequentes</a>
                            </li>*@
                        <li class="nav-item">
                            <a class="nav-link text-dark bg_head" asp-area="" asp-controller="Schedule" asp-action="AboutUs">Sobre nós</a>
                        </li>
                        <li class="nav-item" style="position: absolute; right: 0;">
                            <a class="btn btn-outline-danger btnSchedule" asp-area="" asp-controller="Schedule" asp-action="New">Realizar agendamento</a>
                        </li>

                        @*<li class="nav-item giveButtonLi">
                                <a class="nav-link text-dark giveButton" asp-area="" asp-controller="Schedule" asp-action="New">Realizar Agendamento</a>
                            </li>*@
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3" style="padding-bottom: 0 !important">
            @RenderBody()
        </main>
    </div>

    <footer>
        <div id="urls"></div>
        <div style="background-color: #EF233C; position:relative">
            <div style=" margin-left: auto; margin-right: auto; max-width: 72.5rem;">
                <div class="text-center" style="padding: 50px 0; color: #fff">
                    <h4>Doe Salve App</h4>
                    <p> Avenida Santa Rosa, 2405 - Centro, Três de Maio - RS</p>
                    <p>+(55)99999-9999  | doesalve@email.com</p>
                    <p style="margin-bottom: 0">&copy; 2021 GiveBloodNewApp. Todos os direitos reservados @*<a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>*@</p>
                </div>
            </div>
        </div>

    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)

    <script>
        $('#myCollapsible').on('hidden.bs.collapse', function () {
            console.log('ok')
        })

        $(document).ready(function () {
            var abc = window.location.href.toString();
            console.log(abc)
            if (abc === "http://localhost:46686/" || abc == "http://localhost:46686/#") {
                $()
                $("#urls").html(`<div class="img_bottom" id="img_url">
                    <div class="overlay_img"></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-8 col-md-10 mx-auto text-center">
                                <div class="page-heading">
                                    <h2>Doar sangue é dedicar a esperança para até três vidas.
Espalhe amor doando sangue a quem tanto precisa!
</h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div >`);
                $("#img_url").css("background-image", "url(http://localhost:46686/img/bghands.jpg)")
            }

        });
    </script>
</body>
</html>

